.menu {
  width: calc(100% - 10px);
  height: 40px;
}
.menu .group_right {
  float: right;
  display: flex;
  flex-direction: row;
}
.menu .group_left {
  float: left;
  display: flex;
  flex-direction: row;
}
.menu .group_left .selected {
  color: #751aff;
  padding-left: 30px;
  padding-right: 30px;
}

.table_users, .table_groups {
  width: 100%;
  padding-left: 10px;
  overflow-y: scroll;
}
.table_users li, .table_groups li {
  border-radius: 15px;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  width: calc(100% - 40px);
  text-align: center;
}
.table_users .header, .table_groups .header {
  font-size: 16px;
  color: #751aff;
  padding: 10px 10px;
  margin-top: 0px;
}
.table_users .row, .table_groups .row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  padding: 20px 10px;
  cursor: pointer;
}
.table_users .row:hover, .table_groups .row:hover {
  color: #751aff;
}
.table_users .col-1, .table_groups .col-1 {
  flex-basis: 20%;
}
.table_users .col-2, .table_groups .col-2 {
  flex-basis: 30%;
}
.table_users .col-3, .table_groups .col-3 {
  flex-basis: 25%;
}
.table_users .col-4, .table_groups .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .table_users .header, .table_groups .header {
    display: none;
  }
  .table_users li, .table_groups li {
    display: block;
  }
  .table_users .col, .table_groups .col {
    flex-basis: 100%;
    text-align: left;
  }
  .table_users .col, .table_groups .col {
    display: flex;
    padding: 10px 0;
  }
  .table_users .col:before, .table_groups .col:before {
    color: #751aff;
    padding-right: 10px;
    padding-left: 10px;
    content: attr(data-label);
    flex-basis: 20%;
    text-align: center;
  }
}
.table_users .info_light, .table_groups .info_light {
  color: #bdbdbd;
}
.table_users .row_expanded, .table_groups .row_expanded {
  animation: expand 1s linear;
}
@keyframes expand {
  0% {
    height: 30px;
  }
  100% {
    height: 500px;
  }
}

.table_groups .col-1 {
  flex-basis: 20%;
}
.table_groups .col-2 {
  flex-basis: 30%;
}
.table_groups .col-3 {
  flex-basis: 25%;
}
