@import '../wwwroot/css/variables';

.warning_no_user_group {
    width: 200px;
    padding: 10px;
    background-color: $color_light_red;
    text-align: center;
    color: $color_red;
    border-radius: 15px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .icon {
        width: 100%;
    }
}

.container {
    height: calc(100vh - 235px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .section_left {
        height: 100%;
        width: 280px;
        margin-right: 10px;
        border-radius: 15px;
        box-shadow: $shadow_grey;
        display: flex;
        flex-direction: column;

        .container_list_users {
            width: calc(100% - 20px);
            overflow-y: scroll;
            padding-left: 10px;

            .section_subheader {
                width: 100%;
                text-align: center;
                color: $color_purple;
                border-bottom: 1px solid $color_light_grey;
            }

            .list_users {
                width: 100%;

                .user {
                    height: 40px;
                    display: flex;

                    .name {
                        flex-grow: 100;
                        line-height: 40px;
                    }

                    .status {
                        width: 30px;
                        height: 100%;
                        position: relative;

                        span {
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            margin: 0;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }

                        .connected {
                            background-color: $color_purple;
                            border: 5px solid $color_light_purple;
                        }

                        .disconnected {
                            background-color: $color_light_grey;
                            border: 5px solid $color_lighter_grey;
                        }
                    }
                }
            }
        }
    }

    .section_right {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-grow: 100;

        .container_list_messages {
            max-height: calc(100% - 10px);
            display: flex;
            flex-grow: 100;
            margin-bottom: 10px;
            padding: 5px;
            border-radius: 15px;
            box-shadow: $shadow_grey;

            .list_messages {
                position: relative;
                width: calc(100% - 25px);
                padding: 10px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column-reverse;

                .notification_no_messages {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $color_light_grey;
                }

                .row {
                    .message {
                        display: flex;
                        flex-direction: column;
                        min-width: 210px;
                        max-width: calc(50% + 50px);
                        margin-bottom: 10px;

                        .info {
                            display: flex;

                            .user_name, .time_sent {
                                font-size: 11px;
                            }

                            .time_sent {
                                color: $color_light_grey;
                            }
                        }

                        .text {
                            padding: 10px;
                            padding-top: 5px;
                            padding-bottom: 5px;
                            border-radius: 15px;
                            word-break: break-word;
                        }
                    }

                    .message_current_user {
                        float: right;

                        .info {
                            justify-content: end;
                            flex-direction: row-reverse;

                            .user_name {
                                margin-left: 15px;
                            }
                        }

                        .text {
                            border-top-right-radius: 0px;
                            background-color: $color_purple;
                            color: $color_white;
                        }
                    }

                    .message_other_user {
                        float: left;

                        .info {

                            .user_name {
                                margin-right: 15px;
                            }
                        }

                        .text {
                            border-top-left-radius: 0px;
                            background-color: $color_lighter_grey;
                        }
                    }
                }
            }
        }

        .inputs {
            width: 100%;
            height: 40px;
            position: relative;

            .input_with_button {
                input {
                    width: 100%;
                    color: $color_grey;
                }
            }

            .menu_emoji {
                width: 120px;
                height: 100px;
                padding: 5px;
                display: grid;
                grid-template-columns: auto auto auto;
                grid-template-rows: auto auto;
                justify-content: center;
                position: absolute;
                right: 0px;
                top: -120px;
                background-color: $color_white;
                border-radius: 15px;
                box-shadow: $shadow_grey;
                z-index: 2;

                .emoji{
                    font-size: 20px;
                    background: none;
                    border: none;
                    transition: transform .1s;
                    cursor: pointer;

                    &:hover{
                        transform: scale(1.2);
                    }
                }

                &::after {
                    content: " ";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: $color_white transparent transparent transparent;
                }
            }

            .tile_emoji {

            }
        }
    }
}
