@inject SignOutSessionStateManager SignOutManager
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager Navigation

@page "/"

<PageTitle>Index</PageTitle>
<div class="animate__animated animate__fadeIn">
    <div class="container">
        <div class="logo">
            <div class="scale">
                <div class="point">
                    <div class="text">100%</div>
                    <div class="line"></div>
                </div>
                <div class="point">
                    <div class="text">75%</div>
                    <div class="line"></div>
                </div>
                <div class="point">
                    <div class="text">50%</div>
                    <div class="line"></div>
                </div>
                <div class="point">
                    <div class="text">25%</div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="graph">
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        R
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        e
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        p
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        o
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        r
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        T
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        i
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        n
                    </div>
                </div>
                <div class="part">
                    <div class="bar">
                    </div>
                    <div class="text">
                        y
                    </div>
                </div>
            </div>
        </div>

        <div class="about">
            The tiniest PowerBI client
        </div>

        <div class="buttons">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="BeginSignOut">Log out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="authentication/register">Register</a>
                    <a href="authentication/login">Log in</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</div>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}