@import '../wwwroot/css/variables';

.section_middle {
    width: 100%;
    margin-bottom: 40px;

    .grid_links {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 140px;
        grid-gap: 30px;
        justify-content: center;

        .tile {
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 15px;
            color: $color_grey500;
            background-color: $color_grey100;
            border-radius: 15px;
            transition: all ease-in-out 0.1s;
            cursor: pointer;

            &:hover {
                color: $color_purple;
            }

            .icon, .name, .description {
                width: 100%;
                text-align: center;
                flex-grow: 1;
            }

            .name {
                margin-bottom: 10px;
            }

            .description {
                color: $color_grey400;
            }
        }
    }
}

.section_bottom {
    width: 100%;
}
