@import '../wwwroot/css/variables';

.section_middle {
    width: 100%;
    margin-bottom: 40px;

    .grid_links {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: 140px;
        grid-gap: 30px;
        justify-content: center;

        .tile {
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 15px;
            color: $color_grey500;
            background-color: $color_grey100;
            border-radius: 15px;
            transition: all ease-in-out 0.1s;
            cursor: pointer;

            &:hover {
                color: $color_purple;
            }

            .icon, .name, .description {
                width: 100%;
                text-align: center;
                flex-grow: 1;
            }

            .name {
                margin-bottom: 10px;
            }

            .description {
                color: $color_grey400;
            }
        }
    }
}

.section_bottom {
    width: 100%;

    .menu {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        .group_right, .group_left {
            height: 40px;
            display: flex;
            gap: 10px;
        }

        @media only screen and (max-width: 600px) {
            & {
                flex-direction: column;
            }

            .group_left {
                margin-bottom: 10px;
                margin-left: -5px;
            }
        }
    }
}
