.section_top {
  width: 100%;
  height: 300px;
}
.section_top .centered_container {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section_top .centered_container .about {
  width: 100%;
  margin-top: 10px;
  text-align: center;
  color: #9ca3af;
  font-family: "Nunito", sans-serif;
}
.section_top .centered_container .buttons {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
.section_top .centered_container .buttons a {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 500px;
  color: #6b7280;
  background-color: #f3f4f6;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.section_top .centered_container .buttons a:hover {
  color: #7c4dff;
  padding-left: 30px;
  padding-right: 30px;
}
.section_top .section_bottom_notification_container {
  width: 100%;
  position: fixed;
  left: 50%;
  top: calc(100vh - 80px);
  transform: translate(-50%, 0%);
}

.section_middle {
  width: 100%;
  margin-bottom: 40px;
}
.section_middle .grid_links {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 140px;
  grid-gap: 30px;
  justify-content: center;
}
.section_middle .grid_links .tile {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
  color: #6b7280;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
.section_middle .grid_links .tile:hover {
  color: #7c4dff;
}
.section_middle .grid_links .tile .icon, .section_middle .grid_links .tile .name, .section_middle .grid_links .tile .description {
  width: 100%;
  text-align: center;
  flex-grow: 1;
}
.section_middle .grid_links .tile .name {
  margin-bottom: 10px;
}
.section_middle .grid_links .tile .description {
  color: #9ca3af;
}

.section_bottom {
  width: 100%;
}
.section_bottom .menu {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.section_bottom .menu .group_right, .section_bottom .menu .group_left {
  height: 40px;
  display: flex;
  gap: 10px;
}
.section_bottom .menu .group_right .selected, .section_bottom .menu .group_left .selected {
  color: #7c4dff;
  padding-left: 30px;
  padding-right: 30px;
}
@media only screen and (max-width: 600px) {
  .section_bottom .menu {
    flex-direction: column;
  }
  .section_bottom .menu .group_left {
    margin-bottom: 10px;
    margin-left: -5px;
  }
}
.section_bottom .list_activity {
  width: 100%;
  padding: 0px;
}
.section_bottom .list_activity li {
  width: 100%;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.section_bottom .list_activity .header {
  color: #7c4dff;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}
.section_bottom .list_activity .row {
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  padding-left: 15px;
}
.section_bottom .list_activity .col-1 {
  flex-basis: 50%;
}
.section_bottom .list_activity .col-2 {
  flex-basis: 20%;
}
.section_bottom .list_activity .col-3 {
  flex-basis: 25%;
}
.section_bottom .list_activity .col-4 {
  flex-basis: 25%;
}
@media all and (max-width: 767px) {
  .section_bottom .list_activity .header {
    display: none;
  }
  .section_bottom .list_activity li {
    display: block;
  }
  .section_bottom .list_activity .col {
    text-align: left;
    flex-basis: 100%;
  }
  .section_bottom .list_activity .col {
    display: flex;
    padding: 10px 0;
  }
  .section_bottom .list_activity .col:before {
    color: #7c4dff;
    padding-right: 10px;
    padding-left: 10px;
    content: attr(data-label);
    flex-basis: 20%;
    text-align: center;
  }
}
