@import '../wwwroot/css/variables';

.animate__animated.animate__fadeIn {
    --animate-duration: 0.2s;
}

.dataset_menu_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;

    .dataset_menu {
        width: 60%;
        min-width: 500px;
        padding: 15px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: calc(50% - 30px);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: $shadow_grey;
        background-color: $color_white;

        .bottom_menu {
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;

            .group_right, .group_left {
                display: flex;
                gap: 10px;

                .selected {
                    color: $color_purple;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }

        .section_header {
            width: 100%;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            color: $color_purple;
        }

        .container_loading_file, .container_loading_file_wrong_format, .container_uploading_file {
            width: calc(100% - 4px);
            height: 200px;
            pointer-events: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            border: 2px solid $color_purple;
            border-radius: 15px;
        }

        .container_loading_file_wrong_format {
            color: $color_red;
            border: 2px solid $color_red;
            background-color: $color_light_red;
        }

        .container_uploading_file {
            border: none;
        }

        .table_dataset_preview {
            width: 100%;
            border: 1px solid $color_light_grey;

            th {
                color: $color_purple;
            }

            tr:nth-child(even) {
                background-color: $color_lighter_grey;
            }
        }
    }

    .info_preview_not_available {
        width: 100%;
        color: $color_light_grey;
        text-align: center;
    }
}
