.animate__animated.animate__fadeIn {
  --animate-duration: 0.2s;
}

.dataset_menu_container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 5;
}
.dataset_menu_container .dataset_menu {
  width: 60%;
  min-width: 500px;
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(50% - 30px);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
.dataset_menu_container .dataset_menu .bottom_menu {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.dataset_menu_container .dataset_menu .bottom_menu .group_right, .dataset_menu_container .dataset_menu .bottom_menu .group_left {
  display: flex;
  gap: 10px;
}
.dataset_menu_container .dataset_menu .section_header {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #7c4dff;
}
.dataset_menu_container .dataset_menu .container_loading_file, .dataset_menu_container .dataset_menu .container_loading_file_wrong_format, .dataset_menu_container .dataset_menu .container_uploading_file {
  width: calc(100% - 4px);
  height: 200px;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 2px solid #7c4dff;
  border-radius: 15px;
}
.dataset_menu_container .dataset_menu .container_loading_file_wrong_format {
  color: #ff1744;
  border: 2px solid #ff1744;
  background-color: #ffebee;
}
.dataset_menu_container .dataset_menu .container_uploading_file {
  border: none;
}
.dataset_menu_container .dataset_menu .table_dataset_preview {
  width: 100%;
  border: 1px solid #94a3b8;
}
.dataset_menu_container .dataset_menu .table_dataset_preview th {
  color: #7c4dff;
}
.dataset_menu_container .dataset_menu .table_dataset_preview tr:nth-child(even) {
  background-color: #cbd5e1;
}
.dataset_menu_container .info_preview_not_available {
  width: 100%;
  color: #94a3b8;
  text-align: center;
}
.dataset_menu_container .info_columns_do_not_match {
  width: 100%;
  margin-top: 10px;
  color: #ff1744;
  text-align: center;
}
