.animate__animated.animate__fadeIn {
  --animate-duration: 0.2s;
}

.table_dataset_preview {
  width: 100%;
  border: 1px solid #9ca3af;
  overflow-x: scroll;
}
.table_dataset_preview th {
  color: #7c4dff;
  max-width: 50px;
}
.table_dataset_preview td {
  max-width: 50px;
}
.table_dataset_preview tr:nth-child(even) {
  background-color: #f3f4f6;
}

.control_menu {
  display: flex;
}
