@import '../wwwroot/css/variables';

.animate__animated.animate__fadeIn {
    --animate-duration: 0.2s;
}



.dataset_add_rows_menu_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;

    .dataset_add_rows_menu {
        width: 60%;
        min-width: 500px;
        padding: 15px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: calc(50% - 30px);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: $shadow_grey;
        background-color: $color_white;

        .bottom_menu {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            margin-top: 10px;

            .button_circle {
                width: 40px;
                height: 40px;

                &:hover {
                    width: 50px;
                }
            }
        }

        .file_drop_zone, .container_loading_file {
            width: calc(100% - 4px);
            height: 200px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border: 2px dashed $color_light_grey;
            border-radius: 15px;
            transition: 0.2s ease-in-out;

            ::deep input[type=file] {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }

            &:hover {
                color: $color_purple;
                background-color: $color_lighter_grey;
            }
        }

        .file_drop_zone_hover {
            color: $color_purple;
            border-style: solid;
            border-color: $color_purple;
            background-color: $color_lighter_grey;
        }

        .file_drop_zone_warning {
            color: $color_red;
            border-style: solid;
            border-color: $color_red;
            background-color: $color_light_red;
        }

        .section_header {
            width: 100%;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            color: $color_purple;
        }

        .container_loading_file {
            pointer-events: none;
            display: flex;
            flex-direction: column;
        }

        .section_file_format_guide {

            .example_code {
                width: calc(100% - 20px);
                background-color: $color_lighter_grey;
                border-radius: 15px;
                padding: 10px;
                font-family: 'Roboto Mono', monospace;
            }
        }

        .table_dataset_preview {
            width: calc(100% - 15px);
            border: 1px solid $color_light_grey;

            th {
                color: $color_purple;
            }

            tr:nth-child(even) {
                background-color: $color_lighter_grey;
            }
        }
    }

    .info_preview_not_available {
        width: 100%;
        color: $color_light_grey;
        text-align: center;
    }
}
