.file_drop_zone, .container_loading_file {
  width: calc(100% - 4px);
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px dashed #94a3b8;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}
.file_drop_zone ::deep input[type=file], .container_loading_file ::deep input[type=file] {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.file_drop_zone:hover, .container_loading_file:hover {
  color: #7c4dff;
  background-color: #f8fafc;
}

.file_drop_zone_hover {
  color: #7c4dff;
  border-style: solid;
  border-color: #7c4dff;
  background-color: #f8fafc;
}

.file_drop_zone_warning {
  color: #ff1744;
  border-style: solid;
  border-color: #ff1744;
  background-color: #ffebee;
}
