.section_file_format_guide .section_header {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #7c4dff;
}
.section_file_format_guide .highlight_purple {
  color: #7c4dff;
}
.section_file_format_guide .example_code {
  width: calc(100% - 20px);
  background-color: #f8fafc;
  border-radius: 15px;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
}
.section_file_format_guide .example_table {
  width: calc(100% - 20px);
  background-color: #f8fafc;
  border-collapse: collapse;
}
.section_file_format_guide .example_table td, .section_file_format_guide .example_table th {
  border: 1px solid #64748b;
  text-align: center;
}
.section_file_format_guide .example_table th {
  color: #7c4dff;
}

.bottom_menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.bottom_menu .button_circle {
  width: 40px;
  height: 40px;
}
.bottom_menu .button_circle:hover {
  width: 50px;
}
