@import '../wwwroot/css/variables';

.section_file_format_guide {

    .section_header {
        width: 100%;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
        color: $color_purple;
    }

    .highlight_purple{
        color: $color_purple;
    }

    .example_code {
        width: calc(100% - 20px);
        background-color: $color_grey50;
        border-radius: 15px;
        padding: 10px;
        font-family: 'Roboto Mono', monospace;
    }

    .example_table{
        width: calc(100% - 20px);
        background-color: $color_grey50;
        border-collapse: collapse;

        td, th{
            border: 1px solid $color_grey500;
            text-align: center;
        }
        th{
            color: $color_purple;
        }
    }
}

.bottom_menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    margin-top: 10px;

    .button_circle {
        width: 40px;
        height: 40px;

        &:hover {
            width: 50px;
        }
    }
}