<div class="logo">
    <div class="text">ReporTiny</div>
    <div class="bars">
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
        <div class="bar">
        </div>
    </div>
</div>

@code {
    const int NumberOfBars = 9;
}
