.page {
    width: 100%;
    padding-bottom: 90px;
    .main_container {
        animation: appear 1s ease;
        @keyframes appear {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }
}
