@inherits LayoutComponentBase

<div class="page">
    <AuthorizeView>
        <Authorized>
            <NavMenuBottom />
        </Authorized>
    </AuthorizeView>
    
    <main class="main_container animate__animated animate__fadeIn">
        @Body
    </main>
</div>