@import '../wwwroot/css/variables';

.nav {
    width: 40px;
    position: fixed;
    left: 15px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    font-family: $font_nunito_bold;
    background-color: $color_white;
    border-radius: 15px;
    transition: all ease-in-out 0.3s;
    box-shadow: $shadow_normal_grey;
    overflow: hidden;
    cursor: default;
    z-index: 10;

    &:hover, &:hover .group .item {
        width: 170px;
    }

    .group {
        margin-top: 6px;
        margin-bottom: 6px;

        .item {
            width: 30px;
            height: 40px;
            display: flex;
            flex-direction: row;
            color: $color_grey;
            margin-top: 5px;
            margin-bottom: 5px;
            transition: all ease-in-out 0.15s;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                color: $color_purple;
            }

            .icon {
                position: relative;
                top: 8px;
                left: 8px;
            }

            .text {
                width: 100px;
                position: relative;
                left: 20px;
                text-align: center;
                line-height: 40px;
            }
        }
    }
}
