@import '../wwwroot/css/variables';

.header {
    width: calc(100% - 10px);
    text-align: center;
    font-family: $font_nunito_bold;
    font-weight: 900;
    font-size: 40px;
    color: $color_purple;
}
