<div class="container">
    <span class="scroll-icon">
        <span class="scroll-icon__wheel-outer">
            <span class="scroll-icon__wheel-inner"></span>
        </span>
    </span>
</div>

@code {

}
