.animate__animated.animate__fadeIn {
  --animate-duration: 0.2s;
}

.user_menu_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}
.user_menu_container .user_menu {
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(50% - 35px);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Nunito", sans-serif;
  color: #424242;
  background-color: #fff;
}
.user_menu_container .user_menu .bottom_menu {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.user_menu_container .user_menu .bottom_menu .buttons {
  height: 40px;
}
.user_menu_container .user_menu .bottom_menu .buttons button {
  height: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border-radius: 500px;
  border: none;
  color: #424242;
  background-color: #f5f5f5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.user_menu_container .user_menu .bottom_menu .buttons button:hover {
  color: #751aff;
  padding-left: 30px;
  padding-right: 30px;
}
.user_menu_container .user_menu .bottom_menu .buttons .button_save {
  float: right;
}
.user_menu_container .user_menu .bottom_menu .buttons .button_delete {
  float: left;
}
.user_menu_container .user_menu .bottom_menu .buttons .button_delete:hover {
  color: #ff1744;
  background-color: #ffebee;
}
.user_menu_container .user_menu .table_info {
  text-align: center;
}
.user_menu_container .user_menu .table_info .label {
  color: #751aff;
  text-align: left;
}
.user_menu_container .user_menu .section_header {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #751aff;
}
.user_menu_container .user_menu .selected_user_group {
  width: calc(100% - 24px);
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #751aff;
  background-color: #f5f5f5;
  border: none;
  border-radius: 500px;
  outline: none;
}
.user_menu_container .user_menu .user_group_list {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
}
.user_menu_container .user_menu .user_group_list .user_group {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f5f5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.user_menu_container .user_menu .user_group_list .user_group:hover {
  color: #751aff;
}
