@import '../wwwroot/css/variables';

.animate__animated.animate__fadeIn {
    --animate-duration: 0.2s;
}

.user_menu_container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: $color_overlay_darken;
    z-index: 5;

    .user_menu {
        width: 390px;
        padding: 15px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: $shadow_grey_md;
        background-color: $color_white;

        .bottom_menu {
            width: 100%;
            height: 40px;
            margin-top: 10px;

            .group_left {
                float: left;
            }

            .group_right {
                float: right;
            }
        }

        .table_info {
            text-align: center;
            width: 100%;
            margin-top: 5px;
            margin-bottom: 5px;

            td {
                text-align: right;
            }

            .label {
                color: $color_purple;
                text-align: left;
            }
        }

        .section_header {
            width: 100%;
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            color: $color_purple;
        }

        .input_search {
            width: calc(100% - 40px) !important;
        }

        .list_user_groups, .list_roles {
            width: 100%;
            height: 115px;
            overflow-y: scroll;
            margin-top: 10px;

            .user_group, .role {
                width: 100%;
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid $color_grey300;
                transition: 0.2s ease-in-out;
                cursor: pointer;

                &:hover {
                    color: $color_purple;
                }
            }

            .role {
                display: inline-block;
                cursor: auto;

                .name {
                    float: left;
                }

                &:hover {
                    color: $color_grey500;
                }
            }
        }

        .user_group_selected {
            display: inline-block;
            width: 100%;
            padding-top: 5px;
            padding-bottom: 5px;
            transition: 0.2s ease-in-out;

            .name {
                float: left;
                width: 50%;
            }
        }

        .info_no_roles {
            width: 100%;
            color: $color_grey400;
            text-align: center;
        }
    }
}
