.animate__animated.animate__fadeIn {
  --animate-duration: 0.2s;
}

.user_menu_container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}
.user_menu_container .user_menu {
  padding: 15px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: calc(50% - 35px);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-family: "Nunito", sans-serif;
  color: #424242;
  background-color: #fff;
}
.user_menu_container .user_menu .bottom_menu {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.user_menu_container .user_menu .bottom_menu .buttons {
  height: 40px;
}
.user_menu_container .user_menu .bottom_menu .buttons button {
  height: 100%;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  border-radius: 500px;
  border: none;
  color: #424242;
  background-color: #f5f5f5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.user_menu_container .user_menu .bottom_menu .buttons button:hover {
  color: #751aff;
  padding-left: 30px;
  padding-right: 30px;
}
.user_menu_container .user_menu .bottom_menu .buttons .button_save {
  float: right;
}
.user_menu_container .user_menu .bottom_menu .buttons .button_delete {
  float: left;
}
.user_menu_container .user_menu .bottom_menu .buttons .button_delete:hover {
  color: #ff1744;
  background-color: #ffebee;
}
.user_menu_container .user_menu .table_info, .user_menu_container .user_menu .table_user_group_info {
  text-align: center;
  width: 100%;
}
.user_menu_container .user_menu .table_info td, .user_menu_container .user_menu .table_user_group_info td {
  text-align: right;
}
.user_menu_container .user_menu .table_info .label, .user_menu_container .user_menu .table_user_group_info .label {
  color: #751aff;
  text-align: left;
}
.user_menu_container .user_menu .table_user_group_info {
  margin-top: 10px;
  margin-bottom: 10px;
}
.user_menu_container .user_menu .section_header {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #751aff;
}
.user_menu_container .user_menu .searched_user_group {
  width: calc(100% - 24px);
  padding: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  color: #751aff;
  background-color: #f5f5f5;
  border: none;
  border-radius: 500px;
  outline: none;
}
.user_menu_container .user_menu .user_group_list, .user_menu_container .user_menu .role_list {
  width: 100%;
  height: 115px;
  overflow-y: scroll;
  margin-top: 10px;
}
.user_menu_container .user_menu .user_group_list .user_group, .user_menu_container .user_menu .user_group_list .role, .user_menu_container .user_menu .role_list .user_group, .user_menu_container .user_menu .role_list .role {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f5f5f5;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.user_menu_container .user_menu .user_group_list .user_group:hover, .user_menu_container .user_menu .user_group_list .role:hover, .user_menu_container .user_menu .role_list .user_group:hover, .user_menu_container .user_menu .role_list .role:hover {
  color: #751aff;
}
.user_menu_container .user_menu .user_group_list .role, .user_menu_container .user_menu .role_list .role {
  display: inline-block;
  cursor: auto;
}
.user_menu_container .user_menu .user_group_list .role .role_name, .user_menu_container .user_menu .role_list .role .role_name {
  float: left;
}
.user_menu_container .user_menu .user_group_list .role button, .user_menu_container .user_menu .role_list .role button {
  height: 25px;
  float: right;
  position: relative;
  top: -2px;
  cursor: pointer;
  background-color: #f5f5f5;
  color: #424242;
  border: none;
  border-radius: 500px;
  transition: 0.2s ease-in-out;
}
.user_menu_container .user_menu .user_group_list .role button:hover, .user_menu_container .user_menu .role_list .role button:hover {
  color: #751aff;
  padding-left: 12px;
  padding-right: 12px;
}
.user_menu_container .user_menu .user_group_list .role:hover, .user_menu_container .user_menu .role_list .role:hover {
  color: #424242;
}
