// Colors
$color_white: #fff;
$color_darken: rgba(0, 0, 0, 0.2);
$color_overlay_darken: rgba(0, 0, 0, 0.4);

$color_grey500: #64748b;
$color_grey400: #94a3b8;
$color_grey300: #cbd5e1;
$color_grey200: #e2e8f0;
$color_grey100: #f1f5f9;
$color_grey50: #f8fafc;


$color_purple: #7c4dff;
$color_light_purple: #dcccff;

$color_red: #ff1744;
$color_light_red: #ffebee;

$color_green: #6ee7b7;

$color_yellow: #eab308;
$color_lighter_yellow: #fefce8;

//Background gradients
$bg_gradient_blue_purple: linear-gradient(to right, #5737af, #603cc2, #6942d6, #7347eb, #7c4dff);

// Shadows
$shadow_grey_md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$shadow_grey_lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

// Fonts
$font_nunito_bold: 'Nunito', sans-serif;