// Colors
$color_white: #fff;

$color_grey: #6b7280;
$color_light_grey: #9ca3af;
$color_lighter_grey: #f3f4f6;

$color_purple: #7c4dff;
$color_light_purple: #dcccff;
$color_lighter_purple: #f8f4ff;

$color_red: #ff1744;
$color_light_red: #ffebee;

$color_green: #6ee7b7;

$color_yellow: #eab308;
$color_light_yellow: #fef08a;
$color_lighter_yellow: #fef9c3;

//Background gradients
$bg_gradient_blue_purple: linear-gradient(to right, #5737af, #603cc2, #6942d6, #7347eb, #7c4dff);
$bg_purple: linear-gradient(to right, #7c4dff, #7c4dff, #7c4dff, #7c4dff, #7c4dff);

// Shadows
$shadow_dark_grey: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow_dark_purple: 0 3px 6px rgba(117, 26, 255, 0.16), 0 3px 6px rgba(117, 26, 255, 0.23);
$shadow_grey: 0px 0px 9px 0px rgba(0,0,0,0.15);
$shadow_light_grey: 0px 0px 9px 0px rgba(0,0,0,0.1);
$shadow_light_purple: 0px 0px 9px 0px rgba(117, 26, 255, 0.4);

// Fonts
$font_nunito_bold: 'Nunito', sans-serif;

// Draw colors
$color_draw_brown: #9D6B53;
$color_draw_dark_grey: #50514F;
$color_draw_light_blue: #247BA0;
$color_draw_light_green: #70C1B3;
$color_draw_light_yellow: #FFE066;
$color_draw_light_grey2: #E0E0E0;
$color_draw_light_grey3: #EBEBEB;
$color_draw_light_grey4: #F2F2F2;